@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #000000;
}
*{
  font-family: monospace;
  scroll-behavior: smooth;
}


@layer components {
  .section-title {
    @apply font-bold tracking-tight text-4xl md:text-6xl lg:text-7xl leading-tight;
  }

  .section-subtitle {
    @apply text-base md:text-lg text-opacity-80;
  }
}



/* SCROLL BAR CUSTOM CSS */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-button {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-thumb {
  background: #ffffff;
  border: 10px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #000000;
  border: 12px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #0d0d0d;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}