.contact-input {
    @apply p-2 border-b rounded border-white/20 focus:border-white/80 focus:outline-none py-2 mb-4 transition-all duration-200 text-white;
    background-color: #FFF1;
  }
.contact-input:hover {
    scale: 1.02;
    cursor: pointer;
  }
  .contact-textarea {
    @apply p-2 w-full border-b rounded border-white/20 focus:border-white/80 focus:outline-none py-2 mb-4 h-32 resize-none transition-all duration-200 text-white;
    background-color: #FFF1;
  }

  .contact-textarea:hover {
    scale: 1.02;
    cursor: pointer;
  }